<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lois Beaton Art</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./app.css">
    
</head>
<body>
    <h1>Lois Beaton Art</h1>

<div class="container">

    <div id="bio">
        <h2>Bio</h2>
        <div class="bio-contents">
            <p>Lois Beaton was born and raised in Halifax , Nova Scotia. After university Lois began working as a journalist for the Halifax Herald, in the arts and entertainment department. 
                This provided her with the opportunity to meet many artists and attend their shows, and a life-long interst in art ensued. 
                She moved  on to a teaching career, which took her to Nigeria as a Canadian University student overseas volunteering, after which she returned to the Halifax Regional School Board. 
                When Lois retired from teaching she jumped into the local art scene with both feet, taking classes, joining organizations, and participating in art shows. 
                Lois loves gardening, kayaking, and cycling. Her painting reflects these interests! </p>
                
                <img id="bio-img" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102422/lbart/231242419_10222192406291488_3622356082537218605_n_l7yw2o.jpg" alt="">
        </div>
        <div id="email">For inquiries contact Lois@bellaliant.net</div>
    </div>


    <div id="shows">
        <h2>Current Showings</h2>
    </div>
    <div id="gallery">
        <h2>Gallery</h2>
        <h5>Click on image to view full size!</h5>
        <div class="gallery-contents">

        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102846/lbart/IMG_0221_hbaqii.jpg" alt="">

        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102847/lbart/IMG_0223_ofvvc8.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102849/lbart/IMG_0226_dyzfxw.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102852/lbart/IMG_0315_c3xyrc.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102856/lbart/IMG_0528_qhammk.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102861/lbart/IMG_0529_ndf8od.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102867/lbart/IMG_1370_gdrcji.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102874/lbart/IMG_1371_smm8hx.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102886/lbart/IMG_1529_acvml5.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102897/lbart/IMG_1530_ygh7be.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102907/lbart/IMG_1537_jiemrv.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102918/lbart/IMG_1673_emgzws.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102930/lbart/IMG_1674_yb5zka.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102943/lbart/IMG_1682_cykicm.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102957/lbart/IMG_1684_yw4aup.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102973/lbart/IMG_1710_cgh5pq.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628102988/lbart/IMG_1711_mcw5tw.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103005/lbart/IMG_1712_e8p1nd.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103024/lbart/IMG_1713_nohoed.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103043/lbart/IMG_1732_abhv69.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103064/lbart/IMG_2072_vo5pkm.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103084/lbart/IMG_2073_xstcok.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103106/lbart/IMG_2075_kqc2as.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103129/lbart/IMG_2076_pbrpey.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103153/lbart/IMG_2077_ju5n6k.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103179/lbart/IMG_2078_gsvbp0.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103205/lbart/IMG_2109_kdxooh.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103232/lbart/IMG_2111_znikm4.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103260/lbart/IMG_2116_jiexm3.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103290/lbart/IMG_2154_htmba7.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103351/lbart/IMG_2165_ks4umv.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103398/lbart/IMG_2177_p2sfge.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103462/lbart/IMG_2186_xn7lvj.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103496/lbart/IMG_2191_fvptbl.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103531/lbart/IMG_2229_a9vwlz.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103568/lbart/IMG_2462_udr7p6.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103605/lbart/IMG_2548_vxquaa.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103643/lbart/IMG_2552_dwb5qb.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103682/lbart/IMG_2724_myb9q5.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103723/lbart/IMG_2725_iiu3do.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103764/lbart/IMG_2860_ylje7v.jpg" alt="">
        <img class="myImg" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1628103806/lbart/IMG_2879_nduaz8.jpg" alt="">

                    <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>

            <img class="modal-content" id="modalImg">
            
            <div id="caption"></div>
        </div>

        </div>
    </div>
<div>

    <script src="./app.js"></script>
    <script src="gallery.js"></script> 
</body>

</html>